<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.test.dao.BoardDAO">
  <select id="selectBoardList" resultType="kr.green.test.vo.BoardVO">
    select * from board where 
    <choose>
   		<when test='valid.equals("I") ||valid.equals("D")'> 
   			valid=#{valid}
   		</when>
    	<otherwise>
    		valid='I' or valid='D'
   		</otherwise>
    </choose>
    <choose>
    	<when test="cri.type == 1">
    		and title like concat('%',#{cri.search},'%')
    	</when>
    	<when test="cri.type == 2">
    		and writer like concat('%',#{cri.search},'%')
    	</when>
    	<when test="cri.type == 3">
    		and contents like concat('%',#{cri.search},'%')
    	</when>
    	<otherwise>
    		and (title like concat('%',#{cri.search},'%') or writer like concat('%',#{cri.search},'%') or contents like concat('%',#{cri.search},'%'))
    	</otherwise>
    </choose>
    order by num desc limit #{cri.pageStart},#{cri.perPageNum}<!-- dao에서 param이 붙었기 때문에 앞에 cri.가 붙어야 함  -->
  </select>
  <select id="selectCountBoardList" resultType="int">
    select count(*) from board where 
    <choose>
   		<when test='valid.equals("I") ||valid.equals("D")'> 
   			valid=#{valid}
   		</when>
    	<otherwise>
    		valid='I' or valid='D'
   		</otherwise>
    </choose>
    <choose>
    	<when test="cri.type == 1">
    		and title like concat('%',#{cri.search},'%')
    	</when>
    	<when test="cri.type == 2">
    		and writer like concat('%',#{cri.search},'%')
    	</when>
    	<when test="cri.type == 3">
    		and contents like concat('%',#{cri.search},'%')
    	</when>
    	<otherwise>
    		and (title like concat('%',#{cri.search},'%') or writer like concat('%',#{cri.search},'%') or contents like concat('%',#{cri.search},'%'))
    	</otherwise>
    </choose>
  </select>
  <insert id="insertBoard">
  	insert into board(title,contents,writer,file) 
  		value(#{board.title},#{board.contents},#{board.writer},#{board.file})
  </insert>
</mapper>